<div class="span2">
<div class="sidebar-nav">
<ul class="nav nav-pills nav-stacked">
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Resume", '#' %></li>
<li class="nav-header">Interests</li>
<li><%= link_to "Development", '#' %></li>
<li><%= link_to "Networks", '#' %></li>
<li><%= link_to "Linux", '#' %></li>
<li><%= link_to "Security", '#' %></li>
<li><%= link_to "Rails", '#' %></li>
<li><%= link_to "Hosting", '#' %></li>
<li><%= link_to "VMWare", '#' %></li>
</ul>
</div><!--/nav -->

<div>
<hr/>
  <ul class="unstyled">
    <li>
    <a href="http://www.linkedin.com/in/steve3279"><img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Steve Clement's profile on LinkedIn"></a>
    </li>
    <li>&nbsp;</li>
    <li>
    <a href="https://twitter.com/steve3279" class="twitter-follow-button" data-show-count="false">Follow @steve3279</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
  </ul>
</div>

</div><!--/span-->

